@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

.App {
  display: flex;
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100vh;
  
  .left {
    position: relative;
    height: 100%;
    width: 0px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }

  .middle {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    width: 0px;
    flex-grow: 1;
  }

  .right {
    width: 0px;
    flex-grow: 1;
  }
}