.Flowmap {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  .edge {
    fill: none;
    stroke: #777777;
    opacity: 0.1;
  }

  .edge.selected {
    stroke: #ff8c8c;
    opacity: 0.5;
  }

  .node {
    cursor: crosshair;
  }
  .node.output {
    fill: #c9c9c9;
  }

  .node.output.selected {
    fill: #ff8c8c;
  }
}