.Flowmap {
  flex-grow: 1;
  margin: 0;
  padding: 0; }
  .Flowmap .edge {
    fill: none;
    stroke: #777777;
    opacity: 0.1; }
  .Flowmap .edge.selected {
    stroke: #ff8c8c;
    opacity: 0.5; }
  .Flowmap .node.output {
    fill: #ff8c8c; }
  .Flowmap .node {
    cursor: crosshair; }
