@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #515151;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    max-width: 800px;
    visibility: hidden;
}

#input-text {
    padding: 8px;
    margin-top: 16px;
    font-family: 'Inconsolata', monospace;
}

#output-text {
    padding: 8px;
    margin-top: 16px;
    font-family: 'Inconsolata', monospace;
}

#example-num {
    padding: 0 8px 0 8px;
}

#loading {
    position: absolute;
    top: 30%;
    left: 47%;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.token {
    color: #000;
}

.token:hover {
    background-color: #ff8c8c;
}

.tick line {
    visibility: hidden;
}

.tick text {
    visibility: hidden;
}